@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.search-bar {
	padding-top: 0;
	padding-bottom: 0;
}

.results-section {
	padding-top: 0;
	padding-bottom: 0;
}

.filter-available {
	font-size: 1.2rem;
}

.card {
	margin-top: 20px;
}

.image img {
	width: 140px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.genres {
	padding-top: 10px;
}
